<html>

<head>
    <meta charset="utf-8">
    <title>
        FindPassword
    </title>
</head>

<body>
    <center>
        <h1>FindPassword Page</h1>
        <table>
            <form action="/findPasswordRst" method="POST">
                <input id="user_id" name="user_id" type="text" pleaceholder="ID">
                <br />
                <input id="name" name="name" type="text" pleaceholder="name">
                <br />
                <input id="email" name="email" type="text" placeholder="email">
                <br />
                <input id="address" name="address" type="text" placeholder="address">
                <br />
                <button type="submit ">비밀번호 찾기</button>
            </form>
            <form action="/findPasswordBack" method="POST">
                <button type="submit">뒤로가기</button>
            </form>
        </table>
    </center>
</body>

</html>