<html>

<head>
    <meta charset="utf-8">
    <title>
        find ID
    </title>

    <body>
        <h1>
            your ID
            <%= Findid %>
        </h1>

        <form action="/findIDRstBack" method="POST">
            <button type="submit">뒤로가기</button>
        </form>
    </body>
</head>

</html>

