<html>

<head>
    <meta charset="utf-8">
    <title>
        find Password
    </title>

    <body>
        <h1>
            your Password
        </h1>
        <h1>
            <%= passwordid %>
        </h1>

        <form action="/findPasswordRstBack" method="POST">
            <button type="submit">뒤로가기</button>
        </form>
    </body>
</head>

</html>