<html>

<head>
    <meta charset="utf-8">
    <title>
        FindID
    </title>
</head>

<body>
    <center>
        <h1>FindID Page</h1>
        <table>
            <form action="/findIDRst" method="POST">
                <input id="name" name="name" type="text" pleaceholder="name">
                <br />
                <input id="email" name="email" type="text" placeholder="email">
                <br />
                <input id="address" name="address" type="text" placeholder="address">
                <br />
                <button type="submit ">아이디 찾기</button>
            </form>
            <form action="/findIDBack" method="POST">
                <button type="submit">뒤로가기</button>
            </form>
        </table>
    </center>
</body>

</html>