<html>

<head>
    <meta charset="utf-8">
    <title>
        Logout
    </title>

    <body>
        <h1>
            <%= id %>
        </h1>
        <h1>Nice to meet you
        </h1>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </body>
    
</head>

</html>